#modal{
    padding: 1rem;
}

.header{
    display: flex;
    flex-direction: row;
}

#modal button{
    background: none;
    border: none;
    color: #b1afaf;
    margin-left: auto;
}

#modal button:hover{
    color: #000000;
}

.metamask--button, .walletConnect--button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 200ms;
    background-color: #FFFFFF;
    border: 1px solid #f0f0f0;
    border-radius: 1rem;
    cursor: pointer;
    padding:0.1rem;
    margin: 1rem;
}

.metamask--button > img, .walletConnect--button> img{
    margin: 0.5rem;
}

.metamask--button > button, .walletConnect--button > button{
    margin-left: auto;
}

.metamask--button:hover, .walletConnect--button:hover{
    background-color: #f0f0f0;
}