nav {
    display: block;
    flex-direction: row;
    width: 100vw;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    box-shadow:  0px 1px 8px #808080;
    height: fit-content;
    padding: 0.5rem;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
}

.metabnb-logo-container {
    margin-right: auto;
}

.links {
    margin: auto;
}

nav>div>* {
    text-decoration: none;
}

.navbar-links > *{
    margin: 0 1rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition-duration: 300ms;
}

.navbar-links > *:hover{
    color: #8b8b8b;
}

.connect-wallet {
    margin-left: auto;
    margin-right: 3rem;
}

.connect-wallet-button {
    cursor: pointer;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    border: none;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.connect-wallet-button:hover {
    background: #811c61;
}

.dropdown-button{
    display: none;
}

.dropdown-container{
    width: 100vw;
}

.dropdown-links>* {
    text-decoration: none;
}

.dropdown-link {
    display: block;
    background-color: #ffffff;
    color: #000000;
    width: 100vw;
    padding: 1rem;
    text-align: center;

}

.dropdown-link:hover {
    background-color: #e2e2e2;
}

@media screen and (max-width: 768px) {
    nav {
        width: 100vw;
        background-color: #ffffff;
        padding: 0;
        height: fit-content;
    }

    .metabnb-logo {
        margin: 0 1rem;
        width: 150px;
    }

    .navbar-links,
    .connect-wallet {
        display: none;
    }

    .dropdown-button{
        display: block;
        margin-left: auto;
        cursor: pointer;
        height: 50px;
    }

    .dropdown-link{
        width: 90vw;
    }
}