nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    background-color: white;
}

nav > div{
}

.metabnb-logo{
    margin-right: auto;
}

.links{
    margin: auto;
}

nav > div > *{
    text-decoration: none;
    margin: 0 1rem;
}

.connect-wallet{
    margin-left: auto;
}

.connect-wallet-button{
    cursor: pointer;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    border: none;
    padding: 1rem;
    color: white;
    text-decoration: none;
}
.connect-wallet-button:hover{
    background: #811c61;
}
